/* =========== css blog page ========= */
.title-page {
    display: block;
    width: 100%;
    padding: 40px 0px;
    background-color: #f3f2ee;
    margin: 20px 0px;
}
.title-page>div.container>h4 {
    font-weight: bold;
}
.breadcrumb-item>a {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.breadcrumb-item.active {
    color: gray;
}
.blog-wrap {
    margin: 50px 0px;
}
.blog-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.blog-post {
    display: block;
    width: 70%;
}
.post-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    column-gap: 20px;
    margin-bottom: 20px;
}
.post-item .post-image {
    display: block;
    width: 40%;
}
.post-item .post-image>img {
    display: block;
    width: 100%;
}
.post-item .post-content {
    display: block;
    flex: 1;
}
.post-item .post-content .post-time{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.post-item .post-content .post-time>strong {
    font-size: 14px;
    padding: 5px;
    background-color: gray;
    color: white;
    border: none;
}
.post-content h4 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.post-content p {
    font-size: 15px;
    color: gray;
    text-align: justify;
}
.post-content button.read {
    display: block;
    border: none;
    padding: 10px 25px;
    background-color: black;
}
.post-content>button.read>a {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.post-content button.read:hover {
    background-color: red;
    transition: ease-in-out 0.3s;
}

.blog-sidebar {
    display: block;
    width: 25%;
}
.blog-sidebar .search-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.blog-sidebar .search-group>input.search-input {
    display: block;
    width: 80%;
    padding: 5px;
}
.blog-sidebar .search-group>button.search-blog {
    display: block;
    flex: 1;
    border: none;
    font-size: 30px;
    color: black;
    padding: 5px;
    background-color: transparent;
}
.blog-sidebar .search-group>button.search-blog:hover {
    color: red;
    transition: ease-in-out 0.4s;
}
.blog-sidebar .categories-list {
    width: 100%;
    display: block;
    border: 2px dotted #ebebeb;
    padding: 20px;
}
.blog-sidebar .categories-list h3 {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 25px;
}
.blog-sidebar .categories-list>ul {
    width: 100%;
    display: block;
    list-style-position: inside;
    padding: 10px;
}
.blog-sidebar .categories-list>ul>li {
    width: 100%;
    padding: 5px;
}
.blog-sidebar .categories-list>ul>li:hover {
    color: red;
    transition: ease-in 0.4s;
}
.blog-sidebar .categories-list>ul>li:hover>a {
    color: red;
    transition: ease-in 0.4s;
}
.blog-sidebar .categories-list>ul>li>a {
    color: black;
    font-size: 16px;
}
.blog-sidebar .recent-post-wrap {
    display: block;
    width: 100%;
    padding: 10px;
}
.blog-sidebar .recent-post-wrap h3 {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0px;
}
.blog-sidebar .recent-post-wrap .recent-post-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    column-gap: 10px;
    margin: 20px 0px;
}
.blog-sidebar .recent-post-wrap .recent-post-item .recent-post-img {
    display: block;
    width: 40%;
}
.blog-sidebar .recent-post-wrap .recent-post-item .recent-post-img>img {
    display: block;
    width: 100%;
}
.blog-sidebar .recent-post-wrap .recent-post-item .recent-post-content {
    display: block;
    flex: 1;
}
.blog-sidebar .recent-post-wrap .recent-post-item .recent-post-content>a {
    font-size: 14px;
    color: black;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}
.blog-sidebar .recent-post-wrap .recent-post-item .recent-post-content>a:hover {
    color: red;
    transition: all 0.3s;
}
.blog-sidebar .recent-post-wrap .recent-post-item .recent-post-content>p {
    font-size: 13px;
    color: gray;
}
.blog-sidebar .recent-post-wrap .recent-post-item .recent-post-content>p>span {
    font-size: 14px;
    color: black;
    margin-left: 20px;
}
.tags-wrap {
    display: block;
    width: 100%;
    padding: 10px;
}
.tags-wrap h3 {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 25px;
}
.tags-wrap .tags-list {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
}
.tags-wrap .tags-list .tags-item {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: capitalize;
    background-color: whitesmoke;
    border: none;
}
.tags-wrap .tags-list .tags-item:hover {
    background-color: black;
    color: white;
    transition: ease-out 0.4s;
}
.blog-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    padding: 10px;
    margin: 40px 0px;
}
.blog-page .page-num {
    display: block;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    border: 1px solid goldenrod;
}
.blog-page .page-num:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: all 0.4s;
}
.blog-page .page-num.current {
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* ========responsive tablet max width 768px========= */
@media screen and (max-width: 769px) {
    .blog-content {
        column-gap: 30px;
    }
    .blog-post {
        width: 60%;
    }
    .blog-sidebar {
        flex: 1;
    }
    .post-item {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 20px;
    }
    .post-item .post-image {
        width: 100%;
    }
    .post-item .post-content {
        width: 100%;
    }
}

/* ========= */
@media screen and (max-width: 426px) {
    .blog-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }
    .blog-post {
        width: 100%;
    }
    .blog-sidebar {
        width: 100%;
    }
    .blog-sidebar .search-group {
        padding: 0px 10px;
    }
}


